<% stylesheets 'github-projects' %>
<% # javascripts 'github-projects' %>

<% unless @page_object.header.blank? %>
  <h2><%=h @page_object.header %></h2>
<% end %>

<div class="projects size-<%=h @page_object.repos.size %> cols-<%=h @page_object.columns %>">
  <% @page_object.repos.each do |repo| %>
  <div class="project<%= ' fork' if repo.fork %>">
    <div class="name"><a href="<%= repo.url %>" title="Visit <%=h repo.name %> at GitHub"><%=h repo.name %></a></div>
    <div class="details">
      (Watchers: <span class='watchers'><%=h repo.watchers %></span>, Forks: <span class='forks'><%=h repo.forks %></span>)
    </div>
  </div>
  <% end %>
</div>

